{
    "openapi": "3.0.0",
    "info": {
        "title": "DevPortal API",
        "description": "The most powerful social data API.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.devportal.com/v1"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "Post": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "123"
                    },
                    "title": {
                        "type": "string",
                        "example": "Hello World"
                    },
                    "content": {
                        "type": "string",
                        "example": "This is a post content."
                    }
                }
            },
            "Error": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "example": 401
                    },
                    "message": {
                        "type": "string",
                        "example": "Unauthorized"
                    }
                }
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/posts": {
            "get": {
                "summary": "List Posts",
                "operationId": "listPosts",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of posts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests"
                    }
                }
            },
            "post": {
                "summary": "Create Post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Post"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        }
    }
}